*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "century Gothic", sans-serif;
}

a{
    color: #40f10a;
    text-decoration: none;
}

.navlist{
    width: 100%;
    padding: 5px 10vw;
    position: fixed;
}
.navlist ul{
    display: flex;
    list-style: none;
}
.navlist ul li:first-child{
    flex: 1;
}
.navlist ul h4{
    font-family: serif;
    color: #4f1bd0;
}
.navlist ul a{
    margin-left: 20px;
    font-size: 12px;
}
.navlist ul a:hover{
    color: #f80;
}
*{ 
padding: 0;
margin: 0;
font-family: sans-serif;
}

/* CONTAINER */

.container{
    width: 100%;
    height: 120vh;
    padding-top: 35vh;
     background-image: linear-gradient(#000000c3,#000000c3), url('Downloads/background.jpg.avif');
     text-align: center;
     color: #fff;
}
.container h1{
    font-family: serif;
    margin-bottom: 30px;
}
.container p{
    margin-bottom: 20px;
    letter-spacing: 2px;
}